# Prerequisites
*.d
*.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ArgParser/x64/Debug/lib-test.pdb
ArgParser/x64/Debug/lib-test.exe
ArgParser/x64/Debug/ArgParser.pdb
ArgParser/x64/Debug/ArgParser.lib
ArgParser/x64/Debug/ArgParser.idb
ArgParser/lib-test/x64/Debug/vc143.pdb
ArgParser/lib-test/x64/Debug/vc143.idb
ArgParser/lib-test/x64/Debug/lib-test.tlog/link.read.1.tlog
ArgParser/lib-test/x64/Debug/lib-test.tlog/CL.write.1.tlog
ArgParser/lib-test/x64/Debug/lib-test.tlog/CL.read.1.tlog
ArgParser/lib-test/x64/Debug/lib-test.ilk
ArgParser/lib-test/x64/Debug/Application.obj
ArgParser/ArgParser/x64/Debug/ArgParser.tlog/CL.write.1.tlog
ArgParser/ArgParser/x64/Debug/ArgParser.tlog/CL.read.1.tlog
ArgParser/ArgParser/x64/Debug/Argparser.obj
ArgParser/ArgParser/x64/Debug/ArgParser.log
ArgParser/.vs/ArgParser/v17/Solution.VC.db-wal
ArgParser/.vs/ArgParser/v17/Solution.VC.db-shm
ArgParser/.vs/ArgParser/v17/Solution.VC.db
ArgParser/.vs/ArgParser/v17/.suo
